<div class="container-fluid text-center" style="margin-top: 20px;" ng-init="studentitem = 'M'">    
    <div class="row content">
      <!-- <div class="row content"> -->
      <div class="col-sm-3 sidenav">
      </div>
      <div class="col-sm-6 text-left"> 
        <h1>Student List</h1>
        <table class="table table-hover">
            <thead>
              <tr>
                
                <th>Username</th>
                <th>Age</th>
                <th>Qualification</th>
                <th>Marks</th>
                <th>Applied Course</th>
                <th>Application Status</th>
                <th>Verify Application</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let student of students'>
                
                <td>{{student.student_id}}</td>
                <td>{{student.age}}</td>
                <td>{{student.qualification}}</td>
                <td>{{student.marks}}</td>
                <td>{{student.appliedcourse}}</td>
                <td>{{student.applicationstatus}}</td>
                <!-- <td><form class="form-horizontal" (ngSubmit)="verifyStudent()" method="POST" enctype="multipart/form-data">
                <td><input type="radio" id="option1" name="applicationstatus" [(ngModel)]="studentitem.applicationstatus" value="'approved'" ng-checked="true"></td>
                <td><input type="radio" id="option2" name="applicationstatus" [(ngModel)]="studentitem.applicationstatus" value="'rejected'" ></td>
                <td><button type="submit" class="btn btn-info">Submit</button></td>
                </form></td>   -->
                <td><a style="cursor: pointer;" (click)="editStudent(student)">Verify</a></td>
            </tr>
              
            </tbody>
          </table>
      </div> 
        <div class="col-sm-3 sidenav">
        </div>
    </div>
</div>
